.main__title {
  margin: 0;
  font-family: "Druk Wide";
  font-style: normal;
  font-weight: bold;
  font-size: 115px;
  line-height: 150px;
  color: #ffcc00;
}

@media (min-width: 320px) and (max-width: 720px) {
  .main__title {
    font-size: 53px;
    line-height: 69px;
    text-align: center;
  }
}
